.article-card {
  display: flex;
  flex-direction: row;
  max-height: 20em;
  width: 90%;
  border-bottom: 1px solid grey;
}

.article-card > img {
  max-height: 10em;
  max-width: 15em;
  object-fit: contain;
  margin: 1em;
}

@media screen and (max-width: 45em) {
  .article-card {
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid grey;
  }

  .desc {
    display: none;
  }
}